name: Run Python Automatically

on:
  push:
    branches: [ "main" ]

  schedule:
    - cron: "0 1 * * *"   # chạy mỗi ngày 01:00 UTC (08:00 VN)

  workflow_dispatch:     # cho phép bấm Run workflow

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Run Python script
      run: python main.py
